@page "/"
@using ScoreTracker.Shared.Meets
@using ScoreTracker.Shared.Users
@using ScoreTracker.Client.Services
@inject MeetService MeetService
@inject UserService UserService

<h1>Score Tracker</h1>

@if (Meets != null)
{
    <h2>My Meets</h2>
    @foreach (var meet in Meets)
    {
        <div><a href="/meetresults/@meet.Id">@meet.Name</a></div>
    }
}

@if (User?.Subscriptions != null)
{
    <h2>Following</h2>
    @foreach (var subscription in User.Subscriptions)
    {
        <div>@subscription.Name</div>
    }
}

@code
{
    ICollection<Meet> Meets { get; set; } = new List<Meet>();
    User User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await UserService.GetUserAsync();

        Meets = await MeetService.GetFollowingMeetsAsync(User);
    }
}
