@using ScoreTracker.Client.Services
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (_loggedIn)
        {
            <button class="ml-md-auto" @onclick="LogOut">Log Out</button>
        }
        else
        {
            <button class="ml-md-auto" @onclick="LogIn">Log In</button>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    bool _loggedIn;

    async Task LogIn()
    {
        await UserService.LogInAsync("idref");
        _loggedIn = true;
    }

    async Task LogOut()
    {
        await UserService.LogOut();
        _loggedIn = false;
        NavigationManager.NavigateTo("/", true);
    }
}
